<form (ngSubmit)="onAdd()" novalidate #f="ngForm">
    <div class="form-group">
        <label for="nameProject"></label>
        <input type="text" class="form-control" id="nameProject" name="nameProject" #input1
            (keyup)="getValue1(input1.value)" [(ngModel)]="nameProject" required placeholder="Nombre del proyecto">
    </div>
    <div class="form-group">
        <label for="descriptionProject"></label>
        <textarea type="text" class="form-control" id="descriptionProject" name="descriptionProject" #input2
            (keyup)="getValue2(input2.value)" [(ngModel)]="descriptionProject" required
            placeholder="Descripción del proyecto"></textarea>
    </div>
    <div class="form-group">
        <label for="linkProject"></label>
        <input type="text" class="form-control" id="linkProject" name="linkProject" [(ngModel)]="linkProject"
            required placeholder="Link al proyecto">
    </div>

    <div class="img"><img class="img-load" src="{{image[0]}}" width="100px"></div>
    <div class="form-group">
        <label for="urlImageProject" class="labelFile"></label>
        <input type="file" class="labelInputFile" accept=".bmp, .gif , .jpg, .tif, .png, .jpeg"
            (change)="loadImage($event)" id="urlImageProject">
    </div>

    <div class="send">
        <button class="bttn-minimal bttn-md bttn-primary" [disabled]="loading" (click)="load()"> {{(loading)?
            'Añadiendo': 'Añadir Proyecto'}}</button>
    </div>

</form>