<div class="container" *ngIf="project">
    <div class="row">
        <div>
            <h2>Editar Proyecto</h2>
            <div class="img"><img class="img-load" src="{{image[0]}}"></div>
            <div class="loadImage">
                <label for="urlImageProject" class="labelInputFile">Imagen del proyecto:</label>
                <input type="file" name="pathImageProject"  accept=".bmp, .gif , .jpg, .tif, .png, .jpeg" (change)="loadImage($event)"
                    id="urlImageProject">
                
            </div>
            <form (ngSubmit)="onEdit()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nameProject">Nombre del proyecto:</label>
                    <input type="text" class="form-control" id="nameProject" name="nameProject"
                        [(ngModel)]="project.nameProject" required>
                </div>
                <div class="form-group">
                    <label for="descriptionProject">Descripción del proyecto:</label>
                    <textarea type="text" class="form-control" id="descriptionProject" name="descriptionProject"
                        [(ngModel)]="project.descriptionProject" required></textarea>
                </div>
                <div class="form-group">
                    <label for="linkProject">Link al proyecto:</label>
                    <input type="text" class="form-control" id="linkProject" name="linkProject"
                        [(ngModel)]="project.linkProject" required>
                </div>
                
                <button class="bttn-minimal bttn-md bttn-primary" [disabled]="loading" (click)="load()"> {{(loading)? 'Editando..': 'Actualizar Proyecto'}}</button>

            </form>
        </div>
    </div>
</div>
