.container {
    margin: 50px auto;
    border-top: 1px solid rgb(87, 87, 87);
    padding: 50px 0 50px 0;
}

.project {
    font-size: 1rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.card {
    background-color: black;
    --bs-card-border-radius: 0.25rem;
    --bs-card-border-color: rgb(87, 87, 87, 0.2);
    text-align: end;
    height: 100%;
}

#cards {
    margin-top: 25px;
    width: auto;
}

button {
    background-color: transparent;
    margin-bottom: 15px;
}

svg {
    color: white;
}

#buttons-card {
    margin-left: 20px;
}

