.container {
  margin: 0em auto 0em auto;
}

.row {
  margin: 1em 0 1em 0;
  padding: 1em 0 1em 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: transparent !important;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-color: #6c757d;
  --bs-nav-link-hover-color: #dee2e6;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.login {
  color: white;
}

.login:hover{
  color: gray;
}

.logout {
  color: gray;
}

.logout:hover{
  color: white;
}