<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onAdd()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nameEducation">Nombre de la educación</label>
                    <input type="text" class="form-control" id="nameEducation" name="nameEducation"
                        [(ngModel)]="nameEducation" required>
                </div>
                <div class="form-group">
                    <label for="descriptionEducation">Descripción de la educación</label>
                    <input type="text" class="form-control" id="descriptionEducation" name="descriptionEducation"
                        [(ngModel)]="descriptionEducation" required>
                </div>
                <div class="form-group">
                    <label for="dateEducation">Fecha de la educación</label>
                    <input type="text" class="form-control" id="dateEducation" name="dateEducation"
                        [(ngModel)]="dateEducation" required>
                </div>
                <div class="form-group">
                    <label for="imgEducation">Imagen de la educación</label>
                    <input type="text" class="form-control" id="imgEducation" name="imgEducation"
                        [(ngModel)]="imgEducation" required>
                </div>
                <button class="btn btn-dark"> Añadir educación</button>
            </form>
        </div>
    </div>
</div>
