<!--
=================================================================
 ARCHIVO: education.component.html
=================================================================
- Se eliminan los botones de añadir y editar/borrar que dependían de 'isLogged'.
-->
<div class="container" id="education">
    <div class="row" id="row">
        <div class="col-sm-12">
            <p class="text-start education">Educación</p>
        </div>
        <!-- Se elimina el botón de añadir -->
    </div>
    <div class="card-group">
        <div class="row" style="flex-flow: row; flex-wrap: wrap;">
            <div class="col-md-3 col-lg-4 col-sm-12"id="cards" *ngFor="let Education of education">
                <div class="card text-white">
                    <img src="{{Education.urlImageEducation}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{Education.nameEducation}}</h5>
                        <p class="card-text" style="font-size:small;">{{Education.descriptionEducation}}</p>
                        <p class="card-text" style="font-size:small;"><small class="text-muted">{{Education.dateEducation}}</small></p>
                    </div>
                    <!-- Se elimina la sección de botones de editar/borrar -->
                </div>
            </div>
        </div>
    </div>
</div>