<!--
=================================================================
 ARCHIVO: about-me.component.html
=================================================================
- Se elimina el componente <app-loading> que ya no es necesario.
- Se elimina el botón de editar que dependía de la variable 'isLogged'.
-->
<div class="container" id="about" *ngIf="about">
  <div class="row">
    <div class="col-md-12 text-center" id="name">
      <p class="name">{{about.nameAbout}} {{about.lastNameAbout}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" id="rrss">
      <a href="{{about.linkedinAbout}}" target="_blank"><button class="bttn-minimal bttn-md bttn-primary">Linkedin</button></a>
      <a href="{{about.githubAbout}}" target="_blank"><button class="bttn-minimal bttn-md bttn-primary">Github</button></a>
      <a href="mailto:{{about.emailAbout}}" target="_blank"><button class="bttn-minimal bttn-md bttn-primary">Contactar por
          correo</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" id="about-me">
      <p class="about-me">Acerca de:</p>
      <div class="description">
        <p>
          {{about.descriptionAbout}}
        </p>
      </div>
    </div>
  </div>
  <!-- SE ELIMINA LA FILA DEL BOTÓN DE EDITAR -->
</div>
