<form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

  <input type="email" id="userName" name="userName" class="form-control form-control-lg" [(ngModel)]="userName" required
    placeholder="Usuario.." />
  <label class="form-label" for="userName"></label>

  <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password"
    required placeholder="Contraseña.." />
  <label class="form-label" for="password"></label>

  <button class="bttn-minimal bttn-md bttn-primary" type="submit">Ingresar</button>

</form>