<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onAdd()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nameExperience">Nombre de la experiencia</label>
                    <input type="text" class="form-control" id="nameExperience" name="nameExperience"
                        [(ngModel)]="nameExperience" required>
                </div>
                <div class="form-group">
                    <label for="descriptionExperience">Descripción de la experiencia</label>
                    <input type="text" class="form-control" id="descriptionExperience" name="descriptionExperience"
                        [(ngModel)]="descriptionExperience" required>
                </div>
                <div class="form-group">
                    <label for="dateExperience">Fecha de la experiencia</label>
                    <input type="text" class="form-control" id="dateExperience" name="dateExperience"
                        [(ngModel)]="dateExperience" required>
                </div>
<!--                 <div class="form-group">
                    <label for="imgExperience">Imagen de la experiencia</label>
                    <input type="file" class="form-control" id="imgExperience" name="imgExperience"
                        [(ngModel)]="imgExperience" (change)="loadImage($event)">
                </div> -->
                <button class="btn btn-dark"> Añadir experiencia</button>
            </form>
        </div>
    </div>
</div>