<form (ngSubmit)="onEdit()" novalidate #f="ngForm" *ngIf="experience">
    <div class="form-group">
        <label for="nameExperience"></label>
        <input type="text" class="form-control" id="nameExperience" name="nameExperience"
            [(ngModel)]="experience.nameExperience" required placeholder="Nombre de la experiencia">
    </div>
    <div class="form-group">
        <label for="descriptionExperience"></label>
        <textarea type="text" class="form-control" id="descriptionExperience" name="descriptionExperience"
            [(ngModel)]="experience.descriptionExperience" required placeholder="Descripción de la experiencia"></textarea>
    </div>
    <div class="form-group">
        <label for="dateExperience"></label>
        <input type="text" class="form-control" id="dateExperience" name="dateExperience"
            [(ngModel)]="experience.dateExperience" required placeholder="Periodo de la experiencia">
    </div>

    <div class="img"><img class="img-load" src="{{image[0]}}" width="100px"></div>
    <div class="form-group">
        <label for="urlImageExperience" class="labelFile"></label>
        <input type="file" class="labelInputFile" accept=".bmp, .gif , .jpg, .tif, .png, .jpeg"
            (change)="loadImage($event)" id="urlImageExperience">
    </div>

    <button class="bttn-minimal bttn-md bttn-primary" [disabled]="loading" (click)="load()"> {{(loading)?
        'Editando..': 'Actualizar Experiencia'}}</button>
</form>