<!--
=================================================================
 ARCHIVO: experience.component.html
=================================================================
- Se eliminan los botones de añadir y editar/borrar que dependían de 'isLogged'.
-->
<div class="container" id="experience">
    <div class="row" id="row">
        <!-- Se elimina el botón de añadir -->
        <div class="col-sm-12">
            <p class="text-end experience">Experiencia</p>
        </div>
    </div>
    <div class="card-group" style="display: flex; flex-direction: row-reverse;">
        <div class="row" style="flex-flow: row; flex-wrap: wrap;">
            <div class="col-md-3 col-lg-4 col-sm-12"id="cards" *ngFor="let Experience of experience">
                <div class="card text-white">
                    <img src="{{Experience.urlImageExperience}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{Experience.nameExperience}}</h5>
                        <p class="card-text" style="font-size:small;">{{Experience.descriptionExperience}}</p>
                        <p class="card-text" style="font-size:small;"><small class="text-muted">{{Experience.dateExperience}}</small></p>
                    </div>
                    <!-- Se elimina la sección de botones de editar/borrar -->
                </div>
            </div>
        </div>
    </div>
</div>